%table.twelve.columns
  %tr
    %td.panel
      %h1
        %a{:href => mail_medium['url'] }
          = mail_medium['title']
      %p
        %a{:href => mail_medium['url'] }
          %img{:src => mail_medium['images'].blank? ? "http://placehold.it/140x105" : mail_medium['images'][0]['140x105'] }/
        =raw mail_medium['description']

      %table.container
        %tr
          %td
            %table.block-grid.twelve-up
              %tr
                %td
                  %p.lead
                    №: 
                    = mail_medium['id']
                    %br
                    = mail_medium['phone']
                    %br
                    = mail_medium['price'].blank? ? "Цена не указанна" : "#{mail_medium['price']['value']} #{mail_medium['price']['metric']}"                
    %td.expander
%br/
