= form_for @avito_account do |f|

  - if @avito_account.errors.any?
    -flash[:alert] = "<ul>"
    -@avito_account.errors.full_messages.each do |msg|
      -flash[:alert] += '<li>'+msg+'</li>'
    -flash[:alert] += "</ul>"

  .field
    = f.label :login, "Логин или почта"
    = f.text_field :login
  .field
    = f.label :pass, "Пароль"
    = f.text_field :pass
  .actions
    .button-group.radius.stack
      %li
        =f.button :type => 'submit', :class=>"button success expand", :id => 'account_submit' do 
          Сохранить
      %li
        = link_to avito_accounts_path, :class=> "button expand secondary" do
          Назад