
%h1 
  Список авито аккаунтов 
  %small= current_user.email

- if @avito_accounts.blank?
  
-else
  %table{:width=>"100%"}
    %thead
      %tr
        %th Логин 
        %th Пароль
        %th Статус
        //%th F
        %th
        %th
        %th

    %tbody
      - @avito_accounts.each do |avito_account|
        %tr
          %td= avito_account.login
          %td ********
          %td= t("avito_status_" + avito_account.status.to_s)
          //%td= avito_account.f
          %td= link_to 'Информация', avito_account
          %td= link_to 'Редактировать', edit_avito_account_path(avito_account)
          %td= link_to 'Удалить', avito_account, :method => :delete, :data => { :confirm => 'Вы уверенны?' }

= link_to new_avito_account_path, :class=> "button expand success" do
  Добавить авито аккаунт
