%p
  %b Login:
  = @avito_account.login
%p 
  %b Задача обновленна
  = @avito_account.updated_at

-if @avito_account.status == 0
  %b В стадии проверки/не пореялся

-elsif @avito_account.status == 2
  %b Неверный логи или пароль


-elsif @avito_account.status == 1
  %p
    %b Info-name:
    = @avito_account.f["info"]["name"]
  %p
    %b Info-status:
    = @avito_account.f["info"]["status"]

  - if @avito_account.f['posts'].blank?
    Проверка на наличие постов не проводилась

  -elsif @avito_account.f['posts']['active'].blank? && @avito_account.f['posts']['old'].blank?
    Опубликованных постов не найденно 

  -else
    .row
      -['active', 'old'].map do |t|
        .large-6.columns
          %h4= t(t)
          %ul
          -@avito_account.f['posts'][t].each do |l|
            %li
              =link_to "#{l['title']}[#{l['id']}]", "http://avito.ru/#{l['url']}", {:target=>"_blank"}

-else
  %b за вами уже выехали

%hr/
%h4 
  Типы проверок
  %small
    Выполняются не сразу

%ul.button-group.radius.stack
  %li
    =link_to avito_account_path(@avito_account, :task => "test"), :class=> "button expand success" do
      Проверить аккаунт
  %li
    =link_to avito_account_path(@avito_account, :task => "post"), :class=> "button expand " do 
      Забрать записи
  %li
    = link_to avito_accounts_path, :class=> "button expand secondary" do
      Назад
