= form_for @vk_account_group do |f|
  - if @vk_account_group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vk_account_group.errors.count, "error")} prohibited this vk_account_group from being saved:"
      %ul
        - @vk_account_group.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :cross
    = f.check_box :cross
  .field
    = f.label :cross_ids
    = f.text_field :cross_ids
  .field
    = f.label :find_id
    = f.number_field :find_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :actove
    = f.check_box :actove
  .actions
    = f.submit 'Save'
