= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Параметры Поиска
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name, :placeholder => "Имя задачи"
    .row
      .large-6.columns
        %label 
          Выберите регион
        %select#avito_main_regions{:name => "task[p][locationId]"}

        /ajax add selects
        #avito_sub_regions

      .large-6.columns
        %label
          Категория
        %select#avito_main_cs

        %label
          Подкатегория
        %select#avito_sub_cs{:disabled => "", :name => 'task[p][categoryId]'}
    .row#avito_search_params
  
  /ajax add params
  %fieldset
    %legend Действие на новые сообщения
    %span.label.warning
      На данный момент доступны только уведомления на email.
      %br
      Скоро появится sms рассылка.
    
    %label{:for => "e_email"} Email
    %input#e_email{:name => "task[e][email]", :placeholder => "Укажите свою почту", :type => "text"}/




    
  %fieldset
    %legend Переодичность

    .row
      .large-6.columns
        = f.label :interval do 
          Интервал
          %span{:id=>"avito_interval"}
          Мин.

        .range-slider{ :data => { :slider => "",  
                                  :options=> "start: 10; end: 120; display_selector: #avito_interval;" } }
          %span.range-slider-handle{:role => "slider", :tabindex => "0"}
          %span.range-slider-active-segment
          = f.hidden_field :interval

      .large-6.columns
        %label
          Включить задачу
        .switch
          = f.check_box :active, {:checked => ""}
          = f.label :active

  %hr

  %ul.button-group.radius.stack
    %li
      = link_to tasks_path, :class => 'button secondary ' do  
        Назад 
    %li
      = link_to "#", :class=>"button alert", :id => 'bnt-test-task' do 
        Проверка
    %li
      =f.button :class=>"button success", :id => 'task_submit', :disabled=>"" do 
        Сохранить