%table{:role => 'grid', :summary => "Задачи для #{current_user.email}", :width=>"100%"}
  %caption
    Задачи для 
    = current_user.email

  %tr
    %th Название
    %th Интервал
    %th Активность
    %th Обновлен

    %th
    %th

  - @tasks.each do |task|
    %tr
      %td
        =link_to task do
          = task.name
    
      %td= task.interval
      %td= task.active ? "Вкл" : "Выкл"
      %td= task.updated_at

      //%td= link_to 'Детально', task
      %td= link_to 'Править', edit_task_path(task)
      %td= link_to 'Удалить', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to new_task_path, :class => "button expand success" do
  Новая задача