%fieldset
  %legend 
    Фотографии
  %form#my-awesome-dropzone.dropzone{:action => "/tst"}


= form_for @avito_posting do |f|
  - if @avito_posting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@avito_posting.errors.count, "error")} prohibited this avito_posting from being saved:"
      %ul
        - @avito_posting.errors.full_messages.each do |msg|
          %li= msg
  
  %fieldset
    %legend Параметры задачи 
    .row
      .large-6.columns
        .field
          = f.label :name, "Имя задачи"
          = f.text_field :name

        .row
          .large-6.columns
            %label
              Включить задачу
            .switch
              = f.check_box :active, {:checked => "checked"}
              = f.label :active
          .large-6.columns
            %label
              Разрешить ответы на почту
            .switch
              = f.check_box :allow_mail, {:checked => ""}
              = f.label :allow_mail


      .large-6.columns
        .field
        = f.label :interval do 
          Интервал дней: 
          %span{:id=>"avito_interval"}

        .range-slider{ :data => { :slider => "",  
                                  :options=> "start: 1; end: 60; display_selector: #avito_interval; initial: 7;" } }
          %span.range-slider-handle{:role => "slider", :tabindex => "7"}
          %span.range-slider-active-segment
          = hidden_field_tag :interval, :value => 7

        .field
          = f.label :interval, 'Тип уникализации текста'
          = select_tag "interval", options_for_select([["Два варианта",1], ["Перестановка предложений",{:disabled => "disabled"}, 2], ["Синонимизация",{:disabled => "disabled"}, 3], ["Рандомный выбор", {:disabled => "disabled"}, 4]], 1)

        .field
          = f.label :accont, 'Аккаунт для постинга'
          = select_tag "interval", options_from_collection_for_select(@work_account, "id", "login")







  -if @avito_posting.id.nil?
    %ul.tabs{"data-tab" => "", :role => "tablist"}
      %li.tab-title.active{:role => "presentational"}
        %a{"aria-selected" => "true",  :controls => "panel2-1", :href => "#panel2-1", :role => "tab", :tabindex => "0"} Tab 1
      %li.tab-title{:role => "presentational"}
        %a{"aria-selected" => "false", :controls => "panel2-2", :href => "#panel2-2", :role => "tab", :tabindex => "0"} Tab 2
  -else
    aa


  .tabs-content

    %section#panel2-1.content.active{"aria-hidden" => "false", :role => "tabpanel"}
      %fieldset
        %legend Регион/категория 
        .row
          .large-6.columns
            %label 
              Выберите регион
            %select#avito_main_regions{:name => "taskq[p][locationId]"}
            #avito_sub_regions
          .large-6.columns
            %label
              Категория
            %select#avito_main_cs
            %label
              Подкатегория
            %select#avito_sub_cs{:disabled => "", :name => 'taskq[p][categoryId]'}
        .row
          .large-12.cloumns
            %span{:class => "sub-params", :id => "subl_location"}      
        .row#avito_search_params

      %fieldset
        .field
          = f.label :title
          = text_field_tag :title
        .field
          = f.label :description
          = text_area_tag :description, "", :maxlength=>"3000"
        .field
          = f.label :price
          = text_field_tag :price
        .field
          = f.label :images
          = text_field_tag :images


    %section#panel2-2.content{"aria-hidden" => "true", :role => "tabpanel"}

  .actions
    = f.submit 'Save'
