%fieldset
  %legend 
    Загрузка новых фотографий
  %form#my-awesome-dropzone.dropzone{:action => "/images"}
    =hidden_field_tag :authenticity_token, form_authenticity_token
    =hidden_field_tag :img_class, "avito_posting"


= form_for @avito_posting do |f|
  - if @avito_posting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@avito_posting.errors.count, "error")} prohibited this avito_posting from being saved:"
      %ul
        - @avito_posting.errors.full_messages.each do |msg|
          %li= msg
  
  %fieldset
    %legend Параметры задачи 
    .row
      .large-6.columns
        .field
          = f.label :name, "Имя задачи"
          = f.text_field :name

        .row
          .large-6.columns
            %label
              Включить задачу
            .switch
              = f.check_box :active
              = f.label :active
          .large-6.columns
            %label
              Разрешить ответы на почту
            .switch
              = f.check_box :allow_mail
              = f.label :allow_mail


      .large-6.columns
        .field
        = f.label :interval do 
          Интервал дней: 
          %span{:id=>"avito_interval"}

        -if params[:action] == "new"
          -@avito_posting.interval = 7

        .range-slider{ :data => { :slider => "",  :options=> "start: 1; end: 60; display_selector: #avito_interval; initial: #{@avito_posting.interval};" } }
          %span.range-slider-handle{:role => "slider", :tabindex => @avito_posting.interval}
          %span.range-slider-active-segment
          = f.hidden_field :interval


        .field
          = label_tag "task[e][type_uniq]", 'Тип уникализации текста'
          - select = @avito_posting.e.blank? || @avito_posting.e['type_uniq'].blank? ? "" : @avito_posting.e['type_uniq'] 
          = select_tag "task[e][type_uniq]", options_for_select([["Два варианта",1], 
                                                   ["Без уникализации (опасненько)",{:disabled => "disabled"}, 0], 
                                                   ["Перестановка предложений",{:disabled => "disabled"}, 2], 
                                                   ["Синонимизация",{:disabled => "disabled"}, 3], 
                                                   ["Рандомный выбор", {:disabled => "disabled"}, 4]], select)

        .field
          - select = @avito_posting.e.blank? || @avito_posting.e['account_id'].blank? ? "" : @avito_posting.e['account_id'] 
          = f.label "task[e][account_id]", 'Аккаунт для постинга'
          = select_tag "task[e][account_id]", options_from_collection_for_select(@work_account, "id", "login", select)
    .row
      .large-12.columns
        .field
          -if @avito_posting.images.blank?
            - option = ""
          -else
            - option = options_from_collection_for_select(Image.find(@avito_posting.images), "id", "name", @avito_posting.images)
          
          = label_tag "avito_posting[images][]", "Загруженные изображения"
          = select_tag "avito_posting[images][]", option, :class => "images-select", :multiple=>""
          

  -if params[:action] == "new"
    %fieldset
      %legend Регион/категория 
      .row
        .large-6.columns
          %label 
            Выберите регион
          %select#avito_main_regions{:name => "task[p][locationId]"}
          #avito_sub_regions
        .large-6.columns
          %label
            Категория
          %select#avito_main_cs
          %label
            Подкатегория
          %select#avito_sub_cs{:disabled => "", :name => 'task[p][categoryId]'}
      .row
        .large-12.cloumns
          %span{:class => "sub-params", :id => "subl_location"}      
      .row#avito_search_params

  //-if @avito_posting.id.nil?
  %ul.tabs{"data-tab" => "", :role => "tablist"}
    %li.tab-title.active{:role => "presentational"}
      %a{"aria-selected" => "true",  :controls => "panel2-1", :href => "#panel2-1", :role => "tab", :tabindex => "0"} Вариант 1
    %li.tab-title{:role => "presentational"}
      %a{"aria-selected" => "false", :controls => "panel2-2", :href => "#panel2-2", :role => "tab", :tabindex => "0"} Вариант 2
  //-else
  //  aa


  .tabs-content
    %section#panel2-1.content.active{"aria-hidden" => "false", :role => "tabpanel"}
      =render :partial => "posting_form", :locals => {:i => 0}
    %section#panel2-2.content{"aria-hidden" => "true", :role => "tabpanel"}
      =render :partial => "posting_form", :locals => {:i => 1}

  .actions
    .button-group.radius.stack
      %li
        =f.button :type => 'submit', :class=>"button success expand", :id => 'posting_submit' do 
          Сохранить
      %li
        = link_to avito_postings_path, :class=> "button expand secondary" do
          Назад