

-if @avito_postings.blank?
  %h1 Задач не обнаруженно
  %p Автоматическое отправление обьявлений на авито.  

-else
  %h1 Список задач авито постинга
  %table{:width=>"100%"}
    %thead
      %tr
        %th Имя задачи
        %th Автивность
        %th Следующий запуск
        %th Обновленна
        %th Статус
        %th
        %th
        %th


    %tbody
      - @avito_postings.each do |avito_posting|
        %tr
          %td= avito_posting.name
          %td= avito_posting.active ? "Да" : "Нет"
          %td= avito_posting.updated_at
          %td= avito_posting.next_at
          %td= avito_posting.response      
          %td= link_to 'Инфо', avito_posting
          %td= link_to 'Редакировать', edit_avito_posting_path(avito_posting)
          %td= link_to 'Удалить', avito_posting, :method => :delete, :data => { :confirm => 'Вы уверенны?' }


= link_to new_avito_posting_path, :class=>"button success expand" do 
  Новая задача постинга 
