= form_for @avito_find do |f|

  - if @avito_find.errors.any?
    -flash[:alert] = "<ul>"
    -@avito_find.errors.full_messages.each do |msg|
      -flash[:alert] += '<li>'+msg+'</li>'
    -flash[:alert] += "</ul>"


  .field
    = f.label :req
    = f.text_field :req
  .field
    = f.label :res
    = f.text_field :res
  .actions
    = f.submit 'Save'
