= form_for @vk_invite do |f|
  - if @vk_invite.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vk_invite.errors.count, "error")} prohibited this vk_invite from being saved:"
      %ul
        - @vk_invite.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :interval
    = f.number_field :interval
  .field
    = f.label :invite_ids
    = f.text_field :invite_ids
  .field
    = f.label :invited_ids
    = f.text_field :invited_ids
  .field
    = f.label :find_ids
    = f.text_field :find_ids
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :e
    = f.text_field :e
  .field 
    = f.label :vk_account_id
    = f.select :vk_account_id, options_for_select(@vk_new_acc, @vk_invite.vk_account_id)

  .actions
    = f.submit 'Save'
