%h1 Listing admin_postings

%table
  %tr
    %th Title
    %th Description
    %th Manager
    %th Price
    %th Images
    %th P
    %th Count
    %th User
    %th Active
    %th Allow mail
    %th Next at
    %th
    %th
    %th

  - @admin_postings.each do |admin_posting|
    %tr
      %td= admin_posting.title
      %td= admin_posting.description
      %td= admin_posting.manager
      %td= admin_posting.price
      %td= admin_posting.images
      %td= admin_posting.p
      %td= admin_posting.count
      %td= admin_posting.user_id
      %td= admin_posting.active
      %td= admin_posting.allow_mail
      %td= admin_posting.next_at
      %td= link_to 'Show', admin_posting
      %td= link_to 'Edit', edit_admin_posting_path(admin_posting)
      %td= link_to 'Destroy', admin_posting, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Posting', new_admin_posting_path
