%p#notice= notice

%p
  %b Title:
  = @admin_posting.title
%p
  %b Description:
  = @admin_posting.description
%p
  %b Manager:
  = @admin_posting.manager
%p
  %b Price:
  = @admin_posting.price
%p
  %b Images:
  = @admin_posting.images
%p
  %b P:
  = @admin_posting.p
%p
  %b Count:
  = @admin_posting.count
%p
  %b User:
  = @admin_posting.user_id
%p
  %b Active:
  = @admin_posting.active
%p
  %b Allow mail:
  = @admin_posting.allow_mail
%p
  %b Next at:
  = @admin_posting.next_at

= link_to 'Edit', edit_admin_posting_path(@admin_posting)
\|
= link_to 'Back', admin_postings_path
