!!!
%html
  %head
    %title Oliva – Сервис мониторинга обьявлений Avito
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
  %body

    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        .container

          %nav.tab-bar.nav-small
            %a.left-off-canvas-toggle.menu-icon
              %span  
            .middle.tab-bar-section
              Oliva mobile

          %nav.sidebar.icon-bar.vertical
            //navf.five-up
            %a.item.logo-sm{:href => "/"}
              %img{:src => "/assets/logo-sm.svg"}/

            -if user_signed_in?
              =link_to tasks_path, :class=>"item" do
                %label Задачи

              =link_to new_user_invitation_path, :class=>"item" do
                %label Пригласить

              =link_to  edit_user_registration_path, :class => "item" do
                %label Аккаунт
            -else

              =link_to new_user_session_path, :class => "item" do
                %label Вход

              =link_to new_user_registration_path, :class => "item" do
                %label Регистрация

            =link_to "http://info.0liva.ru/faq", :class => "item" do
              %label FAQ

            =link_to "http://info.0liva.ru/help", :class => "item" do
              %label Справка

            =link_to "http://info.0liva.ru/", :class => "item" do
              %label Блог


            -if user_signed_in?
              =link_to destroy_user_session_path, :class=>"item exit", :method => :delete do
                %label Выход

          %aside.left-off-canvas-menu
            %ul.off-canvas-list
              %li
                %label Oliva 

              -if user_signed_in?
                %li
                  =link_to tasks_path, :class=>"item" do
                    Задачи
                %li
                  =link_to new_user_invitation_path, :class=>"item" do
                    Пригласить
                %li
                  =link_to  edit_user_registration_path, :class => "item" do
                    Аккаунт

              -else
                %li
                  =link_to new_user_session_path, :class => "item" do
                    Вход
                %li
                  =link_to new_user_registration_path, :class => "item" do
                    Регистрация
              %li  
                =link_to "http://info.0liva.ru/faq", :class => "item" do
                  FAQ
              %li
                =link_to "http://info.0liva.ru/help", :class => "item" do
                  Справка
              %li
                =link_to "http://info.0liva.ru/", :class => "item" do
                  Блог

              -if user_signed_in?
                %li
                  =link_to destroy_user_session_path, :class=>"item exit", :method => :delete do
                    Выход
         
          .row.top
            .large-12.columns
              -if notice    
                .alert-box.info.radius{"data-alert" => ""}
                  = notice
                  %a.close{:href => "#"} &#215;

              -if alert
                .alert-box.alert.radius{"data-alert" => ""}
                  = alert
                  %a.close{:href => "#"} &#215;

          .row
            .large-12.columns
              = yield

          //fixed
          #agnid
          #loader-wraper
            .loader
              %svg#loader-1{  :height => "40px", 
                              :style => "enable-background:new 0 0 50 50;", 
                              :version => "1.1", 
                              :viewbox => "0 0 50 50", 
                              :width => "40px", 
                              :x => "0px", 
                              "xml:space" => "preserve", 
                              :xmlns => "http://www.w3.org/2000/svg", 
                              "xmlns:xlink" => "http://www.w3.org/1999/xlink", 
                              :y => "0px"}

                %path{:d => "M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z", :fill => "#007095"}
                  %animatetransform{:attributename => "transform", :attributetype => "xml", :dur => "0.6s", :from => "0 25 25", :repeatcount => "indefinite", :to => "360 25 25", :type => "rotate"}


    = render "layouts/yam"