!!!
%html
  %head

    %title 0liva.ru - Сервис мониторинга обьявлений Avito
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
  %body

    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a.oliva{:href => "#"} Oliva
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li.active
            %a{:href => "#"} Right Button Active
          %li.has-dropdown
            %a{:href => "#"} Right Button Dropdown
            %ul.dropdown
              %li
                %a{:href => "#"} First link in dropdown
              %li.active
                %a{:href => "#"} Active link in dropdown
        / Left Nav Section
        %ul.left
          %li
            %a{:href => "#"} Left Nav Button
          %li.divider  


    .row
      .large-12.columns
        %p.notice= notice
        %p.alert= alert

    .row
      .large-12.columns

        = yield


    #loader-wraper
      .loader
        %svg#loader-1{  :height => "40px", 
                        :style => "enable-background:new 0 0 50 50;", 
                        :version => "1.1", 
                        :viewbox => "0 0 50 50", 
                        :width => "40px", 
                        :x => "0px", 
                        "xml:space" => "preserve", 
                        :xmlns => "http://www.w3.org/2000/svg", 
                        "xmlns:xlink" => "http://www.w3.org/1999/xlink", 
                        :y => "0px"}

          %path{:d => "M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z", :fill => "#007095"}
            %animatetransform{:attributename => "transform", :attributetype => "xml", :dur => "0.6s", :from => "0 25 25", :repeatcount => "indefinite", :to => "360 25 25", :type => "rotate"}





